
/build/


CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json


# Compiled Binaries & Object Files

*.o
*.obj
*.out
*.app
*.exe
*.dylib
*.so
*.a
*.lib


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db


.vscode/